.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__wrapper {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0px;

    @include lg-tablets {
      grid-template-columns: 1fr;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: var(--bs-gutter-x, 64px);
    padding-right: var(--bs-gutter-x, 64px);

    @include sm-desktops {
      padding-left: var(--bs-gutter-x, 32px);
      padding-right: var(--bs-gutter-x, 32px);
    }

    @include phones {
      padding-left: 0;
      padding-right: 0;
      padding-top: 33px;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @include lg-tablets {
      display: none;
    }
  }

  &__btn.btn {
    min-width: 250px;

    @include phones {
      min-width: none;
      width: 100%;
      border-radius: 0px;
    }
  }

  &__intro {
    margin-bottom: 60px;

    @include phones {
      margin-bottom: 32px;
      padding-left: var(--bs-gutter-x, 16px);
      padding-right: var(--bs-gutter-x, 16px);
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 26px;
    color: $gray;

    @include phones {
      font-size: 18px;
    }
  }

  &__title {
    margin-bottom: 34px;

    @include phones {
      margin-bottom: 16px;
    }
  }
}
