.admin-footer {
  background-color: #ffffff;
  height: 68px;

  .admin__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__credits {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    color: #818ea3;

    @include phones {
      width: 50%;
      font-size: 12px;
    }
  }
}

.admin-footer-nav {
  margin-right: 10px;
  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    @include phones {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    @include phones {
      margin-right: 0;
      margin-bottom: 5px;
      line-height: 1;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;

    @include phones {
      font-size: 12px;
    }
  }
}
