.admin-sidebar {
  background: #ffffff;
  box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12), 0px 7.5px 11px rgba(90, 97, 105, 0.1),
    0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
  z-index: 5;

  &__header {
    height: 68px;
    display: flex;
    align-items: center;
    padding: 0px 49px;
    border-bottom: 1px solid #e1e5eb;
    position: relative;
  }

  @include phones {
    display: none;
  }

  &--mobile {
    display: none;

    @include phones {
      display: block;

      .admin-sidebar-nav__list {
        max-height: none;
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto 0;
    svg {
      filter: invert(55%) sepia(6%) saturate(133%) hue-rotate(187deg)
        brightness(95%) contrast(91%);
    }
  }
}

.admin-sidebar-nav {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
      border: none;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray;
      border: 2px solid white;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $bright-blue;
    }
  }

  &__icon {
    overflow: hidden;

    svg {
      margin-bottom: 2px;
    }
  }

  &__link {
    display: grid;
    grid-template-columns: 13px 1fr;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 25px 28px;
    font-weight: 400;
    font-size: 15px;
    color: $dark-blue;
    text-decoration: none;
    position: relative;
    margin: 0;
    box-shadow: inset 0px -1px 0px #e1e5eb;

    &:hover {
      color: $bright-blue;
      text-decoration: none;

      .admin-sidebar-nav__icon {
        filter: invert(37%) sepia(77%) saturate(4575%) hue-rotate(199deg)
          brightness(102%) contrast(110%);
      }
    }

    @include phones {
      font-size: 12px;
    }
  }

  &__item {
    width: 100%;
    margin: 0;
    padding: 0;

    &--active {
      .admin-sidebar-nav__link {
        color: $bright-blue;
        background: #fbfbfb;

        &:before {
          content: '';
          display: block;
          height: 100%;
          width: 4px;
          background-color: $bright-blue;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
        }
      }

      .admin-sidebar-nav__icon {
        filter: invert(37%) sepia(77%) saturate(4575%) hue-rotate(199deg)
          brightness(102%) contrast(110%);
      }
    }
  }
}
