body,
html,
.wrapper {
  height: 100%;
  margin: 0;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: $lg-desktops;
  margin: 0 auto;
  font-family: 'Roboto', Tahoma, Verdana, sans-serif;

  @include phones {
    display: flex;
    flex-direction: column;
  }

  .maincontent {
    background-color: $white;
    width: 100%;

    @include phones {
      flex: 1;
    }
  }

  .container {
    height: 100%;
  }
}

.title {
  color: $black;
  font-weight: bold;
}

h1.title {
  font-size: 70px;
  line-height: 1;

  span {
    display: block;
    color: $green;
  }

  @include phones {
    font-size: 32px;
  }
}
