@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin sm-desktops {
  @media screen and (max-width: $sm-desktops) {
    @content;
  }
}

@mixin lg-desktops {
  @media screen and (min-width: $lg-desktops) {
    @content;
  }
}

@mixin lg-tablets {
  @media screen and (max-width: $lg-tablets) {
    @content;
  }
}

@mixin gradient-animation($gradient-one, $gradient-two) {
  background-size: 100%;
  background-image: linear-gradient(
    90deg,
    $gradient-two 0%,
    $gradient-one 100%
  );
  position: relative;
  z-index: 10;
  &:before {
    background-image: linear-gradient(
      90deg,
      $gradient-one 0%,
      $gradient-two 100%
    );
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -10;
    transition: opacity 1000ms;
    border-radius: 0.25rem;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
