$black: rgba(18, 18, 18, 1);
$green: rgba(14, 194, 97, 1);
$darkgreen: rgba(3, 159, 103, 1);
$gray: rgba(153, 153, 153, 1);
$gray-admin: #f5f6f8;
$dark-blue: #3d5170;
$bright-blue: #007bff;
$error-red: #c4183c;
$lightgray: rgba(238, 238, 238, 1);
$white: rgba(255, 255, 255, 1);

$gradient-blue: #0c7b67;
$gradient-blue-dark: #132949;

$gradient-green-dark: #13493f;
$gradient-green: #0c7b1b;

$gradient-red-dark: #493013;
$gradient-red: #7b0c3b;

$gradient-purple-dark: #281349;
$gradient-purple: #720c7b;

$tablets: 768px;
$lg-tablets: 820px;
$phones: 480px;
$sm-desktops: 1024px;
$lg-desktops: 1440px;
