$black: rgba(18, 18, 18, 1);
$green: rgba(14, 194, 97, 1);
$darkgreen: rgba(3, 159, 103, 1);
$gray: rgba(153, 153, 153, 1);
$lightgray: rgba(238, 238, 238, 1);
$white: rgba(255, 255, 255, 1);

$tablets: 768px;
$phones: 480px;
$sm-desktops: 1024px;
$lg-desktops: 1440px;
