input.form-control,
form.order-form input.field-input {
  border: none;
  border-bottom: 1px solid $gray;
  border-radius: 0px;
  padding: 3px 7px;
  font-size: 14px;

  @include phones {
    font-size: 12px;
  }
  &:focus {
    border-color: $gray;
    box-shadow: none;
  }
}

input.text-input {
  border: 1px solid #becad6;
  border-radius: 4px;
  padding: 8px 11px;
  font-size: 11px;
}

.radio {
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  padding-left: 20px;
  color: $gray;

  @include phones {
    font-size: 12px;
  }

  &:hover {
    .radio__icon {
      border-color: $green;
    }

    .radio__text {
      color: $black;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .radio__icon {
      border-color: $green;
      border-width: 3px;
    }

    &:checked ~ .radio__text {
      color: $black;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    margin: auto 0;
    height: 12px;
    width: 12px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 50%;
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  color: $gray;

  @include phones {
    font-size: 12px;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    height: 12px;
    width: 12px;
    background-color: $white;
    border: 1px solid $gray;

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 0;
      bottom: 55%;
      left: 45%;
      right: 0;
      margin: auto;
      width: 70%;
      height: 110%;
      border: solid $black;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover {
    .checkbox__icon {
      border-color: $green;
    }

    .checkbox__text {
      color: $black;
    }
  }

  .checkbox__input:checked ~ .checkbox__icon {
    border-color: $green;
  }

  .checkbox__input:checked ~ .checkbox__text {
    color: $black;
  }

  .checkbox__input:checked ~ .checkbox__icon:after {
    display: block;
  }
}

.date-time-picker .field.flex {
  max-width: 224px;

  @include lg-tablets {
    max-width: none;
  }
}
