.sidebar {
  height: 100%;
  background-color: $black;
  color: $white;
  width: 65px;

  @include tablets {
    width: 85px;
  }

  @include phones {
    width: 100%;
    height: fit-content;
    background-color: $white;
    flex-direction: row;
  }

  .container {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;

    @include phones {
      flex-direction: row;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .link--lang {
    @include phones {
      display: none;
    }
  }
}
